div{
    padding: 10px;
    flex-direction: column;
    display: flex;
    width:30%;
    margin: auto;
}
h1{
    padding: 10px;
    flex-direction: column;
    display: flex;
    width:30%;
    margin: auto;
}